{% extends 'base.html.twig' %}

{% block title %}Accueil TRT Conseil{% endblock %}

{% block body %}
    {{ include('_navbar.html.twig') }}

    {# Alert message after registration #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center mt-5">
            {{ message }}
        </div>
    {% endfor %}

    <section class="container homepage main mb-5">
    <div class="row">
        <h1 class="homepage__description my-5 mx-5">Favoriser la rencontre des talents</h1>     
        <img class="homepage__img mb-2" src="{{ asset('/img/job.jpg') }}" alt="Poignée de mains">
    </div>
    </section>
    
    {{ include('_footer.html.twig') }}
{% endblock %}
