<form method="post" action="{{ path('app_joboffer_delete', {'id': joboffer.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette annonce');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joboffer.id) }}">
    <button class="btn btn-outline-danger mt-2">Supprimer</button>
</form>
